.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.buttons {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;
  margin: 10px;
}

.buttons button {
  margin: 10px;
  padding: 20px;
}

.flow-container {
  display: flex;
  align-self: center;
  justify-content: center; 
  align-items: center;
  width : 80vw;
  height : 80vh;
}

.react-flow__controls-button{

  width: 10vw;
  height : 5vh;
  padding: 10px;
  margin: 10px;
  background-color: rgb(80, 80, 80);

}

.react-flow__controls-button:hover{

  width: 10vw;
  height : 5vh;
  padding: 10px;
  margin: 10px;
  background-color: rgb(136, 136, 136);

}